@font-face {
    font-family: 'NissanBrandW10-Regular';
    src: url('NissanBrandW10-Regular.eot?#iefix') format('embedded-opentype'),
    url('NissanBrandW10-Regular.woff') format('woff'),
    url('NissanBrandW10-Regular.ttf') format('truetype'),
    url('NissanBrandW10-Regular.svg#NissanBrandW10-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'NissanBrandW10-Bold';
    src: url('NissanBrandW10-Bold.eot?#iefix') format('embedded-opentype'),
    url('NissanBrandW10-Bold.woff') format('woff'),
    url('NissanBrandW10-Bold.ttf')  format('truetype'),
    url('NissanBrandW10-Bold.svg#NissanBrandW10-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}