:root {
  font-size: 16px;

  @include to(992) {
    font-size: 15px;
  }

  @include to(768) {
    font-size: 14px;
  }

  @include to(600) {
    font-size: 13px;
  }

  @include to(400) {
    font-size: 12px;
  }
}

::selection {
  background-color: $c-red;
  color: white;
}

.disallow-transitions {
  * {
    transition: none !important;
  }
}

div {
  font-family: $regFont;
  font-size: 1rem;
}

p,
li {
  font-family: $regFont;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  max-width: 100%;
  color: $c-txt;
}


.footnote,
.footnote * {
  font-size: 0.694rem;
  color: #707072;
  cursor: default;
  transition: color $base-transition;
}

a:hover {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.no-scroll {
  overflow: hidden;
}

* {
  color: $c-txt;
}

.container {
  @include from(1650) {
    max-width: 1350px;
  }
  @include from(2000) {
    max-width: 90%;
  }
}

[js-popup],
[data-href] {
  cursor: pointer;
}

.xzibit {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: white;
  }
}

.fs-11 {
  font-size: 1.1rem;
}

.fs-13 {
  font-size: 1.3rem;
}