.footer {
  padding: 20px 0;
  background: white;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(white,.1);
  }

  @include to(768) {
    padding: 10px 0;
  }

  &-container {
    display: flex;
    justify-content: center;
  }

  &__social {
    min-width: 140px;

    @include to(768) {
      margin-top: 10px;
    }

    a {
      height: 30px;
      width: auto;
      display: block;

      @include to(768) {
        height: 20px;
      }
    }

    svg,
    img {
      height: 100%;
      width: auto;
    }
  }
}