.header {
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 26;
  background: white;
  box-shadow: 0 5px 10px -5px rgba(black, .3);

  @include to(768) {
    padding: 10px 0;
  }

  &::after {
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(white, .1);
    bottom: 0;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    margin: -8px auto;

    @include to(768) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &-block {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include to(992) {
      margin-right: 15px;
    }

    @include to(768) {
      margin-right: 0;
      margin-bottom: 1rem;
    }

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }

    &_full {
      @include to(768) {
        width: 100%;
      }
    }

    p {
      font-size: 1.2rem;

      @include to(1280) {
        font-size: 1rem;
      }

      &.name {
        margin-bottom: .5em;

        @include to(1280) {
          margin-bottom: .33rem;
        }
      }

      &.phone {
        font-family: $boldFont;
        font-weight: bold;
        line-height: 1;

        span {
          color: $c-red;
        }

        a {
          font-size: 1.2rem;
        }
      }
    }
  }

  &-item {
    margin: 8px;
    display: flex;
    align-items: center;

    &.main {
      p {
        font-size: 1.22rem;
        color: black;

        span {
          font-family: $boldFont;
          color: $c-red;
          margin-right: 11px;

          span {
            margin-left: 6px;
            margin-right: 0;
          }
        }

        @include to(992) {
          font-size: .833rem;
          margin-right: 0;
        }
      }

      @include to(600) {
        margin-right: 0;
        width: 100%;
        text-align: center;
      }
    }

    &_logo {
      @include to(768) {
        position: absolute;
        top: 5px;
        left: 5px;
        margin: 0;
      }
    }
  }
}