.section_dark {
  background-color: #1d1d1d;
  background-image: url(../img/themeny/section-dark.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ny-theme {
  background-image: url(../img/themeny/bgny2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ny-relative {
  position: relative;
}

.bgny-left {
  position: absolute;
  width: 259px;
  height: 772px;
  top: -229px;
  left: 0;
  z-index: 2;
  pointer-events: none;
}

.bgny-right {
  position: absolute;
  width: 203px;
  height: 446px;
  top: 165px;
  right: 0;
  z-index: 2;
  pointer-events: none;
}

.bgny2-left {
  position: absolute;
  width: 81px;
  height: 124px;
  top: 463px;
  left: 0;
  pointer-events: none;
}

.bgny2-right {
  position: absolute;
  width: 63px;
  height: 60px;
  top: 430px;
  right: 20px;
  pointer-events: none;
}

.pb-2 {
  background-image: url(../img/themeny/bgny-footer.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#contacts {
  min-height: 100vh;
}

.bgny3-left {
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: 405px;
  pointer-events: none;
}

.bgny3-right {
  position: absolute;
  bottom: 0;
  right: -352px;
  width: 350px;
  height: 242px;
  pointer-events: none;
}

@media (max-width: 1150px) {
  .bgny-left, .bgny-right, .bgny2-left, .bgny2-right {
    display: none;
  }
}

@media (max-width: 992px) {
  #contacts {
    min-height: 50vh;
  }
  .bgny3-right {
    display: none;
  }
}
