/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

/* Document
   ========================================================================== */

html {
    font-family: sans-serif;
    /* 1 */
    line-height: 1.15;
    /* 2 */
    -ms-text-size-adjust: 100%;
    /* 3 */
    -webkit-text-size-adjust: 100%;
    /* 3 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
    margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main {
    /* 1 */
    display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
    margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
    background-color: transparent;
    /* 1 */
    -webkit-text-decoration-skip: objects;
    /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
    outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
    font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
    font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
    background-color: #ff0;
    color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
    display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
    border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
    overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
    /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
    /* 1 */
    text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"],
/* 1 */
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details,
/* 1 */
menu {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
    display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
    display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
    display: none;
}

/* Magnific Popup CSS */
.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: 0.8;
}

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden;
}

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    box-sizing: border-box;
}

.mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
    display: none;
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto;
}

.mfp-ajax-cur {
    cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: zoom-out;
}

.mfp-zoom {
    cursor: pointer;
    cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
    cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mfp-loading.mfp-figure {
    display: none;
}

.mfp-hide {
    display: none !important;
}

.mfp-preloader {
    color: #CCC;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 1044;
}

.mfp-preloader a {
    color: #CCC;
}

.mfp-preloader a:hover {
    color: #FFF;
}

.mfp-s-ready .mfp-preloader {
    display: none;
}

.mfp-s-error .mfp-content {
    display: none;
}

button.mfp-close,
button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    box-shadow: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    padding: 0 0 18px 10px;
    color: #FFF;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover,
.mfp-close:focus {
    opacity: 1;
}

.mfp-close:active {
    top: 1px;
}

.mfp-close-btn-in .mfp-close {
    color: #333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    color: #FFF;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%;
}

.mfp-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #CCC;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;
}

.mfp-arrow {
    position: absolute;
    opacity: 0.65;
    margin: 0;
    top: 50%;
    margin-top: -55px;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
    margin-top: -54px;
}

.mfp-arrow:hover,
.mfp-arrow:focus {
    opacity: 1;
}

.mfp-arrow:before,
.mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent;
}

.mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px;
}

.mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7;
}

.mfp-arrow-left {
    left: 0;
}

.mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px;
}

.mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
    right: 0;
}

.mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px;
}

.mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
    top: -40px;
}

.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000;
}

/* Main image in popup */
img.mfp-img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 40px 0 40px;
    margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure {
    line-height: 0;
}

.mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444;
}

.mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px;
}

.mfp-figure figure {
    margin: 0;
}

.mfp-bottom-bar {
    margin-top: -36px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto;
}

.mfp-title {
    text-align: left;
    line-height: 18px;
    color: #F3F3F3;
    word-wrap: break-word;
    padding-right: 36px;
}

.mfp-image-holder .mfp-content {
    max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer;
}

.mfp-wrap {
    position: fixed !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
}

@media screen and (max-width: 800px) and (orientation: landscape),
screen and (max-height: 300px) {

    /**
       * Remove all paddings around the image on small screen
       */
    .mfp-img-mobile .mfp-image-holder {
        padding-left: 0;
        padding-right: 0;
    }

    .mfp-img-mobile img.mfp-img {
        padding: 0;
    }

    .mfp-img-mobile .mfp-figure:after {
        top: 0;
        bottom: 0;
    }

    .mfp-img-mobile .mfp-figure small {
        display: inline;
        margin-left: 5px;
    }

    .mfp-img-mobile .mfp-bottom-bar {
        background: rgba(0, 0, 0, 0.6);
        bottom: 0;
        margin: 0;
        top: auto;
        padding: 3px 5px;
        position: fixed;
        box-sizing: border-box;
    }

    .mfp-img-mobile .mfp-bottom-bar:empty {
        padding: 0;
    }

    .mfp-img-mobile .mfp-counter {
        right: 5px;
        top: 3px;
    }

    .mfp-img-mobile .mfp-close {
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        text-align: center;
        padding: 0;
    }
}

@media all and (max-width: 900px) {
    .mfp-arrow {
        transform: scale(0.75);
    }

    .mfp-arrow-left {
        transform-origin: 0;
    }

    .mfp-arrow-right {
        transform-origin: 100%;
    }

    .mfp-container {
        padding-left: 6px;
        padding-right: 6px;
    }
}

/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
    position: relative;
    margin: 0 auto 60px;
    padding: 0;
    *zoom: 1;
}

.bx-wrapper img {
    max-width: 100%;
    display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
    box-shadow: 0 0 5px #ccc;
    border: 5px solid #fff;
    left: -5px;
    background: #fff;

    /*fix other elements on the page moving (on Chrome)*/
    transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
    min-height: 50px;
    background: url('../img/plugins/bxslider/bx_loader.gif') center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
    left: 10px;
    background: url('../img/plugins/bxslider/controls.png') no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
    right: 10px;
    background: url('../img/plugins/bxslider/controls.png') no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
    background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
    background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
    text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url('../img/plugins/bxslider/controls.png') -86px -11px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url('../img/plugins/bxslider/controls.png') -86px -44px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666\9;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;
}

.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px;
}

@charset "UTF-8";

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.1
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Daniel Eden
 */

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animated.infinite {
    animation-iteration-count: infinite;
}

.animated.hinge {
    animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
    animation-duration: .75s;
}

@keyframes bounce {

    from,
    20%,
    53%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        transform: translate3d(0, -4px, 0);
    }
}

.bounce {
    animation-name: bounce;
    transform-origin: center bottom;
}

@keyframes flash {

    from,
    50%,
    to {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

.flash {
    animation-name: flash;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.pulse {
    animation-name: pulse;
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.rubberBand {
    animation-name: rubberBand;
}

@keyframes shake {

    from,
    to {
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translate3d(10px, 0, 0);
    }
}

.shake {
    animation-name: shake;
}

@keyframes headShake {
    0% {
        transform: translateX(0);
    }

    6.5% {
        transform: translateX(-6px) rotateY(-9deg);
    }

    18.5% {
        transform: translateX(5px) rotateY(7deg);
    }

    31.5% {
        transform: translateX(-3px) rotateY(-5deg);
    }

    43.5% {
        transform: translateX(2px) rotateY(3deg);
    }

    50% {
        transform: translateX(0);
    }
}

.headShake {
    animation-timing-function: ease-in-out;
    animation-name: headShake;
}

@keyframes swing {
    20% {
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

.swing {
    transform-origin: top center;
    animation-name: swing;
}

@keyframes tada {
    from {
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    30%,
    50%,
    70%,
    90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%,
    60%,
    80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.tada {
    animation-name: tada;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes wobble {
    from {
        transform: none;
    }

    15% {
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    30% {
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    60% {
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }

    to {
        transform: none;
    }
}

.wobble {
    animation-name: wobble;
}

@keyframes jello {

    from,
    11.1%,
    to {
        transform: none;
    }

    22.2% {
        transform: skewX(-12.5deg) skewY(-12.5deg);
    }

    33.3% {
        transform: skewX(6.25deg) skewY(6.25deg);
    }

    44.4% {
        transform: skewX(-3.125deg) skewY(-3.125deg);
    }

    55.5% {
        transform: skewX(1.5625deg) skewY(1.5625deg);
    }

    66.6% {
        transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }

    77.7% {
        transform: skewX(0.390625deg) skewY(0.390625deg);
    }

    88.8% {
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
}

.jello {
    animation-name: jello;
    transform-origin: center;
}

@keyframes bounceIn {

    from,
    20%,
    40%,
    60%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(.97, .97, .97);
    }

    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

.bounceIn {
    animation-name: bounceIn;
}

@keyframes bounceInDown {

    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }

    75% {
        transform: translate3d(0, -10px, 0);
    }

    90% {
        transform: translate3d(0, 5px, 0);
    }

    to {
        transform: none;
    }
}

.bounceInDown {
    animation-name: bounceInDown;
}

@keyframes bounceInLeft {

    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0);
    }

    75% {
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        transform: translate3d(5px, 0, 0);
    }

    to {
        transform: none;
    }
}

.bounceInLeft {
    animation-name: bounceInLeft;
}

@keyframes bounceInRight {

    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        transform: translate3d(10px, 0, 0);
    }

    90% {
        transform: translate3d(-5px, 0, 0);
    }

    to {
        transform: none;
    }
}

.bounceInRight {
    animation-name: bounceInRight;
}

@keyframes bounceInUp {

    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(0, -20px, 0);
    }

    75% {
        transform: translate3d(0, 10px, 0);
    }

    90% {
        transform: translate3d(0, -5px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.bounceInUp {
    animation-name: bounceInUp;
}

@keyframes bounceOut {
    20% {
        transform: scale3d(.9, .9, .9);
    }

    50%,
    55% {
        opacity: 1;
        transform: scale3d(1.1, 1.1, 1.1);
    }

    to {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
}

.bounceOut {
    animation-name: bounceOut;
}

@keyframes bounceOutDown {
    20% {
        transform: translate3d(0, 10px, 0);
    }

    40%,
    45% {
        opacity: 1;
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: 0;
        transform: translate3d(0, 2000px, 0);
    }
}

.bounceOutDown {
    animation-name: bounceOutDown;
}

@keyframes bounceOutLeft {
    20% {
        opacity: 1;
        transform: translate3d(20px, 0, 0);
    }

    to {
        opacity: 0;
        transform: translate3d(-2000px, 0, 0);
    }
}

.bounceOutLeft {
    animation-name: bounceOutLeft;
}

@keyframes bounceOutRight {
    20% {
        opacity: 1;
        transform: translate3d(-20px, 0, 0);
    }

    to {
        opacity: 0;
        transform: translate3d(2000px, 0, 0);
    }
}

.bounceOutRight {
    animation-name: bounceOutRight;
}

@keyframes bounceOutUp {
    20% {
        transform: translate3d(0, -10px, 0);
    }

    40%,
    45% {
        opacity: 1;
        transform: translate3d(0, 20px, 0);
    }

    to {
        opacity: 0;
        transform: translate3d(0, -2000px, 0);
    }
}

.bounceOutUp {
    animation-name: bounceOutUp;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInDown {
    animation-name: fadeInDown;
}

@keyframes fadeInDownBig {
    from {
        opacity: 0;
        transform: translate3d(0, -2000px, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInDownBig {
    animation-name: fadeInDownBig;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInLeft {
    animation-name: fadeInLeft;
}

@keyframes fadeInLeftBig {
    from {
        opacity: 0;
        transform: translate3d(-2000px, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInLeftBig {
    animation-name: fadeInLeftBig;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInRight {
    animation-name: fadeInRight;
}

@keyframes fadeInRightBig {
    from {
        opacity: 0;
        transform: translate3d(2000px, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInRightBig {
    animation-name: fadeInRightBig;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInUp {
    animation-name: fadeInUp;
}

@keyframes fadeInUpBig {
    from {
        opacity: 0;
        transform: translate3d(0, 2000px, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInUpBig {
    animation-name: fadeInUpBig;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fadeOut {
    animation-name: fadeOut;
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}

.fadeOutDown {
    animation-name: fadeOutDown;
}

@keyframes fadeOutDownBig {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, 2000px, 0);
    }
}

.fadeOutDownBig {
    animation-name: fadeOutDownBig;
}

@keyframes fadeOutLeft {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
}

.fadeOutLeft {
    animation-name: fadeOutLeft;
}

@keyframes fadeOutLeftBig {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(-2000px, 0, 0);
    }
}

.fadeOutLeftBig {
    animation-name: fadeOutLeftBig;
}

@keyframes fadeOutRight {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
}

.fadeOutRight {
    animation-name: fadeOutRight;
}

@keyframes fadeOutRightBig {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(2000px, 0, 0);
    }
}

.fadeOutRightBig {
    animation-name: fadeOutRightBig;
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
}

.fadeOutUp {
    animation-name: fadeOutUp;
}

@keyframes fadeOutUpBig {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, -2000px, 0);
    }
}

.fadeOutUpBig {
    animation-name: fadeOutUpBig;
}

@keyframes flip {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        animation-timing-function: ease-out;
    }

    40% {
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        animation-timing-function: ease-out;
    }

    50% {
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        animation-timing-function: ease-in;
    }

    80% {
        transform: perspective(400px) scale3d(.95, .95, .95);
        animation-timing-function: ease-in;
    }

    to {
        transform: perspective(400px);
        animation-timing-function: ease-in;
    }
}

.animated.flip {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    animation-name: flip;
}

@keyframes flipInX {
    from {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        animation-timing-function: ease-in;
    }

    60% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    to {
        transform: perspective(400px);
    }
}

.flipInX {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-name: flipInX;
}

@keyframes flipInY {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        animation-timing-function: ease-in;
    }

    60% {
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
        transform: perspective(400px);
    }
}

.flipInY {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-name: flipInY;
}

@keyframes flipOutX {
    from {
        transform: perspective(400px);
    }

    30% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        opacity: 1;
    }

    to {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        opacity: 0;
    }
}

.flipOutX {
    animation-name: flipOutX;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
}

@keyframes flipOutY {
    from {
        transform: perspective(400px);
    }

    30% {
        transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
        opacity: 1;
    }

    to {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        opacity: 0;
    }
}

.flipOutY {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-name: flipOutY;
}

@keyframes lightSpeedIn {
    from {
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0;
    }

    60% {
        transform: skewX(20deg);
        opacity: 1;
    }

    80% {
        transform: skewX(-5deg);
        opacity: 1;
    }

    to {
        transform: none;
        opacity: 1;
    }
}

.lightSpeedIn {
    animation-name: lightSpeedIn;
    animation-timing-function: ease-out;
}

@keyframes lightSpeedOut {
    from {
        opacity: 1;
    }

    to {
        transform: translate3d(100%, 0, 0) skewX(30deg);
        opacity: 0;
    }
}

.lightSpeedOut {
    animation-name: lightSpeedOut;
    animation-timing-function: ease-in;
}

@keyframes rotateIn {
    from {
        transform-origin: center;
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }

    to {
        transform-origin: center;
        transform: none;
        opacity: 1;
    }
}

.rotateIn {
    animation-name: rotateIn;
}

@keyframes rotateInDownLeft {
    from {
        transform-origin: left bottom;
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0;
    }

    to {
        transform-origin: left bottom;
        transform: none;
        opacity: 1;
    }
}

.rotateInDownLeft {
    animation-name: rotateInDownLeft;
}

@keyframes rotateInDownRight {
    from {
        transform-origin: right bottom;
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0;
    }

    to {
        transform-origin: right bottom;
        transform: none;
        opacity: 1;
    }
}

.rotateInDownRight {
    animation-name: rotateInDownRight;
}

@keyframes rotateInUpLeft {
    from {
        transform-origin: left bottom;
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0;
    }

    to {
        transform-origin: left bottom;
        transform: none;
        opacity: 1;
    }
}

.rotateInUpLeft {
    animation-name: rotateInUpLeft;
}

@keyframes rotateInUpRight {
    from {
        transform-origin: right bottom;
        transform: rotate3d(0, 0, 1, -90deg);
        opacity: 0;
    }

    to {
        transform-origin: right bottom;
        transform: none;
        opacity: 1;
    }
}

.rotateInUpRight {
    animation-name: rotateInUpRight;
}

@keyframes rotateOut {
    from {
        transform-origin: center;
        opacity: 1;
    }

    to {
        transform-origin: center;
        transform: rotate3d(0, 0, 1, 200deg);
        opacity: 0;
    }
}

.rotateOut {
    animation-name: rotateOut;
}

@keyframes rotateOutDownLeft {
    from {
        transform-origin: left bottom;
        opacity: 1;
    }

    to {
        transform-origin: left bottom;
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0;
    }
}

.rotateOutDownLeft {
    animation-name: rotateOutDownLeft;
}

@keyframes rotateOutDownRight {
    from {
        transform-origin: right bottom;
        opacity: 1;
    }

    to {
        transform-origin: right bottom;
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0;
    }
}

.rotateOutDownRight {
    animation-name: rotateOutDownRight;
}

@keyframes rotateOutUpLeft {
    from {
        transform-origin: left bottom;
        opacity: 1;
    }

    to {
        transform-origin: left bottom;
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0;
    }
}

.rotateOutUpLeft {
    animation-name: rotateOutUpLeft;
}

@keyframes rotateOutUpRight {
    from {
        transform-origin: right bottom;
        opacity: 1;
    }

    to {
        transform-origin: right bottom;
        transform: rotate3d(0, 0, 1, 90deg);
        opacity: 0;
    }
}

.rotateOutUpRight {
    animation-name: rotateOutUpRight;
}

@keyframes hinge {
    0% {
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }

    20%,
    60% {
        transform: rotate3d(0, 0, 1, 80deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }

    40%,
    80% {
        transform: rotate3d(0, 0, 1, 60deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
        opacity: 1;
    }

    to {
        transform: translate3d(0, 700px, 0);
        opacity: 0;
    }
}

.hinge {
    animation-name: hinge;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes rollIn {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.rollIn {
    animation-name: rollIn;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes rollOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    }
}

.rollOut {
    animation-name: rollOut;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

.zoomIn {
    animation-name: zoomIn;
}

@keyframes zoomInDown {
    from {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

.zoomInDown {
    animation-name: zoomInDown;
}

@keyframes zoomInLeft {
    from {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

.zoomInLeft {
    animation-name: zoomInLeft;
}

@keyframes zoomInRight {
    from {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

.zoomInRight {
    animation-name: zoomInRight;
}

@keyframes zoomInUp {
    from {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

.zoomInUp {
    animation-name: zoomInUp;
}

@keyframes zoomOut {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    to {
        opacity: 0;
    }
}

.zoomOut {
    animation-name: zoomOut;
}

@keyframes zoomOutDown {
    40% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    to {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
        transform-origin: center bottom;
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

.zoomOutDown {
    animation-name: zoomOutDown;
}

@keyframes zoomOutLeft {
    40% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(42px, 0, 0);
    }

    to {
        opacity: 0;
        transform: scale(.1) translate3d(-2000px, 0, 0);
        transform-origin: left center;
    }
}

.zoomOutLeft {
    animation-name: zoomOutLeft;
}

@keyframes zoomOutRight {
    40% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(-42px, 0, 0);
    }

    to {
        opacity: 0;
        transform: scale(.1) translate3d(2000px, 0, 0);
        transform-origin: right center;
    }
}

.zoomOutRight {
    animation-name: zoomOutRight;
}

@keyframes zoomOutUp {
    40% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    to {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
        transform-origin: center bottom;
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

.zoomOutUp {
    animation-name: zoomOutUp;
}

@keyframes slideInDown {
    from {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown {
    animation-name: slideInDown;
}

@keyframes slideInLeft {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInLeft {
    animation-name: slideInLeft;
}

@keyframes slideInRight {
    from {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInRight {
    animation-name: slideInRight;
}

@keyframes slideInUp {
    from {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInUp {
    animation-name: slideInUp;
}

@keyframes slideOutDown {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(0, 100%, 0);
    }
}

.slideOutDown {
    animation-name: slideOutDown;
}

@keyframes slideOutLeft {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(-100%, 0, 0);
    }
}

.slideOutLeft {
    animation-name: slideOutLeft;
}

@keyframes slideOutRight {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(100%, 0, 0);
    }
}

.slideOutRight {
    animation-name: slideOutRight;
}

@keyframes slideOutUp {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(0, -100%, 0);
    }
}

.slideOutUp {
    animation-name: slideOutUp;
}

/* Slider */
.slick-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

@charset 'UTF-8';

/* Slider */
.slick-loading .slick-list {
    background: #fff url('../img/plugins/ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/slick.eot');
    src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick.woff') format('woff'), url('../fonts/slick.ttf') format('truetype'), url('../fonts/slick.svg#slick') format('svg');
}

/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}

.slick-prev:before {
    content: '←';
}

[dir='rtl'] .slick-prev:before {
    content: '→';
}

.slick-next {
    right: -25px;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}

.slick-next:before {
    content: '→';
}

[dir='rtl'] .slick-next:before {
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}

.slick-dots li {
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}

html {
    line-height: 1;
    font-size: 14px;
}

body {
    font-family: mainFont;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

textarea {
    resize: none;
}

section {
    position: relative;
}

input,
select,
button {
    outline: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.hide {
    display: none;
}

.show {
    display: block;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

html {
    font-size: 15px;
}

body {
    font-family: 'NissanBrandW10-Regular';
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
    width: 100%;
}

textarea {
    resize: none;
}

section {
    position: relative;
}

h2 {
    margin: 0 0 25px;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'NissanBrandW10-Bold';
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.hide {
    display: none;
}

.show {
    display: block;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix,
*zoom 1,
:after {
    clear: both;
}

.container {
    position: relative;
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
}

.red_text {
    /*color: #c3002f;*/
    color: #15bd0a;
}

.btn {
    position: relative;
    display: inline-block;
    border: none;
    line-height: 30px;
    text-transform: uppercase;
    padding: 0 40px 0 15px;
    font-family: 'NissanBrandW10-Bold';
    font-size: 14px;
}

.btn:hover {
    cursor: pointer;
}

.submit_wrap {
    position: relative;
}

.submit_wrap:after {
    position: absolute;
    right: 10px;
    content: '';
    display: inline-block;
    background: url("../img/icons/right_arrow_white.png");
    background-size: 100%;
    width: 16px;
    height: 16px;
    top: 50%;
    margin-top: -8px;
}

.btn-red {
    background: #c3002f;
    color: #fff;
}

.btn-red:after {
    position: absolute;
    right: 10px;
    content: '';
    display: inline-block;
    background: url("../img/icons/right_arrow_white.png");
    background-size: 100%;
    width: 16px;
    height: 16px;
    top: 50%;
    margin-top: -8px;
}

.btn-red:hover {
    background: #94001e;
}

.btn-black {
    background: transparent;
    color: #000;
    border: 1px solid #dcdcdc;
    transition: 0.5s;
}

.btn-black:after {
    position: absolute;
    right: 10px;
    content: '';
    display: inline-block;
    background: url("../img/icons/right_arrow_red.png");
    background-size: 100%;
    width: 16px;
    height: 16px;
    top: 50%;
    margin-top: -8px;
}

.btn-black:hover {
    box-shadow: inset 0 -2px 0 0 #c3002f;
    transition: 0.5s;
}

.btn-white {
    color: #fff;
    border: 1px solid #fff;
}

.btn-white:after {
    position: absolute;
    right: 10px;
    content: '';
    display: inline-block;
    background: url("../img/icons/right_arrow_white.png");
    background-size: 100%;
    width: 16px;
    height: 16px;
    top: 50%;
    margin-top: -8px;
}

.bold {
    font-family: 'NissanBrandW10-Bold';
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 5px #dbdbdb;
    z-index: 100;
}

.header {
    position: relative;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*
.header_dealer-logo {
    position: absolute;
    left: 0;
    top: 15px;
    margin-top: 15px;
}
*/

.header_brand-logo {
    /*
    position: absolute;
    right: 0;
    top: -15px;
    margin-top: 15px;
*/
    max-width: 80px;
}

/*
.header_addres {
    display: inline-block;
    margin: 15px 0;
    vertical-align: top;
}
*/

.header_addres span {
    display: block;
}

.header_addres .street {
    font-size: 18px;
    margin-bottom: 5px;
}

.header_addres .phone {
    display: block;
    margin-bottom: 5px;
    font-family: 'NissanBrandW10-Bold';
    font-size: 24px;
}

.header_addres .btn {
    position: absolute;
    left: 52%;
    transform: translateX(-50%);
    bottom: -13px;
    padding: 0 20px 0 0;
    min-width: 210px;
}

.header_addres .btn:after {
    display: none;
}

.header_addres .btn:before {
    content: '';
    display: inline-block;
    margin: 0 10px -5px;
    background: url("../img/icons/phone.svg");
    width: 20px;
    height: 20px;
    background-size: 100%;
    animation: phoneMove 0.1s infinite alternate;
}

.popup-form {
    position: relative;
    width: 100%;
    max-width: 450px;
    padding: 40px 20px 20px;
    margin: 0 auto;
    background-color: #f9f9f9;
}

.popup-form input[type="text"] {
    line-height: 40px;
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #edebeb;
    font-size: 13px;
}

.popup-form .btn {
    width: 100%;
    padding: 0;
    font-size: 18px;
}

.popup-form__title {
    display: block;
    text-align: center;
    font-size: 23px;
    margin-bottom: 20px;
}

.top_banner-wrap {
    margin-top: 140px;
}

.gray_bg {
    background: #333;
}

.promo_title-wrap {
    padding: 30px 0;
    color: #fff;
}

.promo_title {
    text-align: center;
}

.promo_title_top-text {
    display: block;
    font-size: 29px;
    text-transform: uppercase;
    margin-bottom: 35px;
    color: #c3002f;
}

.promo_title_middle-text {
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
}

.promo_title_middle-text a {
    border-bottom: 1px solid #000;
}

.top_form input[type='text'],
.top_form .submit_wrap {
    line-height: 40px;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 0 10px;
}

.top_form input[type='text'] {
    border: 2px solid #a7a7a7;
    padding: 0 5px;
}

.top_form input[type='submit'] {
    width: 100%;
    line-height: 40px;
}

.car_block-wrap {
    padding: 40px 0;
}

.car_block-wrap h2 {
    text-transform: none;
    font-family: 'NissanBrandW10-Regular';
    font-weight: normal;
}

.car-block {
    border: 15px solid #ececec;
    padding: 40px 0 0;
    text-align: center;
    width: 95%;
    margin: 0 auto;
}

.car_item,
.car_item-wrap {
    display: inline-block;
    vertical-align: top;
    width: 274px;
    margin: 0 1% 45px;
    text-align: center;
    min-height: 480px;
}

.car_item {
    position: relative;
}

.car_item span {
    display: block;
}

.car_item .btn {
    margin-bottom: 5px;
    line-height: 40px;
    height: 40px;
    text-align: left;
    width: 100%;
    padding-right: 30px;
}

.car_item sup {
    font-size: 10px;
}

.car_item-buttons {
    position: absolute;
    bottom: -50px;
}

.car_img_wrap {
    position: relative;
    height: 140px;
    margin-bottom: 10px;
}

.car_img_wrap img {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 250px;
}

.car_title {
    display: block;
    text-align: left;
    margin-bottom: 20px;
    font-family: 'NissanBrandW10-Regular';
    text-transform: uppercase;
    font-size: 25px;
}

.car_price {
    margin-bottom: 10px;
    font-size: 25px;
}

.car_benef {
    font-size: 16px;
    margin-bottom: 5px;
}

.car_beneff {
    font-size: 19px;
    margin-bottom: 5px;
    display: none !important;
}

.car_item-text {
    margin-bottom: 20px;
    min-height: 145px;
}

.our_advantages-wrap {
    position: relative;
    padding: 40px 0 0;
    background-size: cover;
    margin-bottom: 40px;
    color: #fff;
}

.our_advantages-dark {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.advantages_list {
    padding: 0 0 30px;
    text-align: center;
}

.advantages_list li {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    width: 160px;
    height: 120px;
    padding: 10px;
    background: #c3002f;
    border-bottom: 2px solid #000;
    color: #fff;
}

.advantages_list li.only_text {
    padding-top: 35px;
}

.advantages_list li span {
    display: block;
    font-size: 16px;
}

.advantages_list li span.inline {
    display: inline-block;
}

.advantages_list li span.advantages_title {
    font-size: 32px;
    font-family: 'NissanBrandW10-Bold';
    margin-bottom: 10px;
}

.advantages_list li sup {
    font-size: 15px;
}

.advantages_list span {
    font-size: 16px;
}

.adv_img-wrap {
    height: 70px;
}

.adv_img-wrap img {
    max-width: 50px;
}

.adv_img-wrap img.logo_adv {
    max-width: 150px;
    margin-top: 8px;
}

.adv_img-wrap i {
    margin-top: 15px;
    font-size: 35px;
}

.bottom_open_form-wrap {
    padding: 40px 0;
    text-align: center;
    width: 95%;
    margin: 0 auto;
    border: 15px solid #ececec;
    padding: 40px;
}

.bottom_form {
    margin-bottom: 50px;
}

.bottom_form input[type='text'] {
    border: 2px solid #a7a7a7;
    padding: 0 5px;
}

.bottom_form input[type='submit'] {
    text-align: left;
    font-size: 18px;
    width: 100%;
    line-height: 40px;
}

.bottom_form input[type='text'],
.bottom_form .submit_wrap {
    height: 40px;
    line-height: 40px;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 0 10px;
}

.bottom_phone {
    display: inline-block;
    border-bottom: 1px solid #000;
    font-size: 30px;
}

.map_wrap {
    position: relative;
    height: 450px;
}

#map {
    height: 450px;
}

.balloon_container {
    width: 350px;
    text-align: left;
    padding-top: 40px;
    padding-left: 40px;
    color: #fff;
}

.balloon_container span {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
}

.balloon_container .maps_dealer_title {
    font-size: 20px;
    font-family: 'NissanBrandW10-Bold';
    margin-bottom: 15px;
}

.maps_dealer_address:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../img/icons/map.png") no-repeat;
    background-size: 100%;
    margin-right: 5px;
}

.maps_dealer_time:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../img/icons/clock.png") no-repeat;
    background-size: 100%;
    margin-right: 5px;
}

.disclaimer-wrap {
    width: 95%;
    margin: 0 auto;
    padding: 30px 0;
    font-size: 12px;
    color: #808080;
}

input.error {
    border-color: #f00 !important;
}

.top_banner_mini {
    display: none;
}

.top-banner__text {
    position: absolute;
    width: 100%;
    max-width: 960px;
    overflow: hidden;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'NissanBrandW10-Bold';
    text-transform: uppercase;
}

.top-banner__date,
.top-banner__benefit,
.top-banner__gift {
    float: left;
}

.top-banner__date {
    width: 12%;
    height: 75px;
    padding: 10px;
    background-color: #fff;
    font-size: 15px;
    padding-top: 23px;
    text-align: center;
}

.top-banner__date span {
    vertical-align: -webkit-baseline-middle;
}

.top-banner__benefit {
    overflow: hidden;
    width: 56%;
    height: 75px;
    padding: 15px;
    background-color: #c30a28;
    color: #fff;
    font-size: 32px;
}

.banner-benefits__left-text {
    display: inline-block;
    vertical-align: top;
    /*    margin-right: 35px;*/
    margin-left: 10px;
}

.banner-benefits__right-text {
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    margin-top: 0px;
}

.benefits-price {
    font-size: 33px;
}

.top-banner__gift {
    width: 32%;
    height: 65px;
    background-color: #fff;
    margin-top: 10px;
    text-align: right;
    font-size: 15px;
}

.top-banner__gift a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-right: 50%;
}

.top-banner__gift img {
    position: absolute;
    right: 20px;
    top: -10px;
    max-width: 120px;
}

.main-benef__item {
    display: inline-block;
    width: 30%;
    min-width: 290px;
    margin-right: 1%;
    margin-bottom: 2%;
    font-size: 19px;
    text-align: left;
}

.main-benef__item sup {
    font-size: 10px;
}

.white_text {
    color: #fff;
}

.car-block__container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.g-wrapper {
    overflow: hidden;
}

.service {
    position: fixed;
    z-index: 3;
    top: 136px;
    width: 293px;
    min-height: 374px;
    background-color: #333;
    padding: 26px 15px 15px 0px;
    box-sizing: border-box;
    text-align: center;
    transition: 1s;
    right: -270px;
}

.service.show {
    right: 0;
}

.service:before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 14px;
    position: absolute;
    z-index: 3;
    left: -25px;
    top: 10px;
}

.service img {
    width: 103px;
}

.service__pict {
    position: absolute;
    left: -85px;
    top: 0px;
    cursor: pointer;
}

.service__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 19px;
    letter-spacing: 0em;
    margin-bottom: 3px;
    line-height: normal;
    color: #fff;
}

.service__offer_1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 0px;
    color: #fff;
}

.service__offer_2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 0px;
}

.service__offer_3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 28px;
}

input[type="text"].square-input {
    font-family: 'Open Sans', sans-serif;
    height: 38px;
    line-height: 38px;
    width: 100%;
    max-width: 232px;
    padding: 0 10px;
    box-sizing: border-box;
    color: #000;
    margin: 0;
    display: inline-block;
    border: 1px solid #808080;
    margin-bottom: 18px;
}

button[type="submit"].square-btn {
    display: inline-block;
    width: 100%;
    max-width: 232px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    cursor: pointer;
    height: 37px;
    line-height: 37px;
    color: #fff;
    background-color: #c3002f;
    border: 0 none;
}

input[type="text"].error {
    border: 1px solid #c3002f;
}

.section_title {
    font-size: 36px;
    color: #000;
    font-family: 'NissanBrandW10-Regular';
    margin: 0px 0 35px 0px;
    display: block;
    padding: 30px 0 0 0;
    text-align: center;
}

.complect_left_right {
    overflow: hidden;
}

.complect_left {
    display: inline-block;
    vertical-align: top;
    width: 39%;
    float: left;
}

.complect_center {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding-top: 100px;
}

.complect_right {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding-top: 55px;
}

.complect_list {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.model_title {
    display: block;
    text-align: center;
    font-family: 'NissanBrandW10-Bold';
    font-size: 25px;
    margin-bottom: 20px;
}

.complect_img {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-right: 20px;
}

.complect_img img {
    width: 100%;
}

.complect_center li {
    text-align: left;
    font-size: 15px;
    padding-bottom: 10px;
    font-weight: bold;
}

.model_price {
    display: block;
    font-family: 'NissanBrandW10-Bold';
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 10px;
}

.model_benefit {
    display: block;
    font-family: 'NissanBrandW10-Bold';
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 20px;
    color: #c3002f;
}

.model_button-yellow a {
    display: block;
    color: #fff;
    background: #c3002f;
    /*background: linear-gradient(to bottom, #c4092f 0%, #ad0824 100%);*/
    font-size: 16px;
    text-align: center;
    font-family: 'NissanBrandW10-Bold';
    padding: 10px;
    text-decoration: none;
    /*border-radius: 4px;*/
    text-transform: uppercase;
    margin-bottom: 20px;
    outline: none;
}

.model_button-yellow a:hover {
    background-color: #94001e;
}

.model_button-white a {
    display: block;
    color: #000;
    background: #fff;
    font-size: 14px;
    text-align: center;
    font-family: 'NissanBrandW10-Bold';
    padding: 10px;
    text-decoration: none;
    /*border-radius: 4px;*/
    text-transform: uppercase;
    border: 1px solid #dadada;
    outline: none;
}

/*.model_button-white a {*/
/*display: block;*/
/*color: #000;*/
/*background: #fff;*/
/*font-size: 14px;*/
/*text-align: center;*/
/*font-family: 'NissanBrandW10-Bold';*/
/*padding: 10px;*/
/*text-decoration: none;*/
/*border-radius: 4px;*/
/*text-transform: uppercase;*/
/*border: 1px solid #dadada;*/
/*outline: none;*/
/*}*/
.complect_center__ul {
    list-style-type: disc;
}

.complect_center__ul li {
    list-style-type: disc;
}

.complect {
    border: 15px solid #ececec;
    padding: 40px 0 0;
    text-align: center;
    width: 95%;
    margin: 0 auto;
}

.complect_block {
    margin: 20px;
}

.model_calc {
    margin-bottom: 20px;
    text-align: left;
}

.colors_list {
    text-align: center;
}

.tabs__caption {
    margin-bottom: 55px;
}

.tabs li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
}

.tab {
    display: inline-block;
}

.tab__item {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.27);
}

.tab [data-name="tab-1"] {
    background-color: #fefff9;
}

.tab [data-name="tab-2"] {
    background-color: #fdfef8;
}

.tab [data-name="tab-3"] {
    background-color: #989a97;
}

.tab [data-name="tab-4"] {
    background-color: #b43337;
}

.tab [data-name="tab-5"] {
    background-color: #0e0a07;
}

.tab [data-name="tab-6"] {
    background-color: #dfe2e7;
}

.tab [data-name="tab-7"] {
    background-color: #324592;
}

.tab [data-name="tab-8"] {
    background-color: #5892c0;
}

.tab [data-name="tab-9"] {
    background-color: #000;
}

.tab-content {
    display: none;
}

.tab-content_active {
    display: block;
}

.tab-compl {
    display: block;
    text-align: left;
    margin: 0 35px;
}

.tab-compl__item {
    display: inline-block;
    margin-right: 10px;
    padding: 7px;
    text-transform: uppercase;
    vertical-align: top;
    background: #c3002f;
    color: #fff;
    line-height: 15px;
    /*border-radius: 4px;*/
    cursor: pointer;
}

.tab-compl-content {
    display: none;
    margin-bottom: 30px;
}

.tab-compl-content_active {
    display: block;
}

.complectation {
    padding: 15px;
    border: 1px solid #ccc;
    /*border-radius: 5px;*/
    cursor: pointer;
    margin-top: 5px;
}

.complectation-content {
    display: none;
    padding: 15px;
    border: 1px solid #ccc;
    /*border-radius: 5px;*/
    margin-top: 5px;
    text-align: center;
}

.complectation-content__title {
    display: block;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
}

.complectation-content__option {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    list-style-type: disc;
    padding-left: 10px;
    margin: 25px;
    text-align: left;
}

.complectation-content__option h3 {
    margin: 10px 0;
    text-align: left;
    font-size: 13px;
}

.complectation-content__option li {
    list-style-type: disc;
    margin-bottom: 10px;
}

.complectation-content__active {
    display: block;
}

.main-benef__item {
    width: 32%;
}

@media screen and (max-width: 1270px) {
    .complect_right {
        margin: 0;
    }
}

@media screen and (max-width: 1000px) {
    .container {
        width: 95%;
    }

    .top_banner_text-wrap {
        display: none;
    }

    .top-banner__text {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .top_form input[type='text'] {
        width: 25%;
    }

    .top_form .submit_wrap {
        width: 35%;
    }

    .bottom_form input[type='text'] {
        width: 25%;
    }

    .bottom_form .submit_wrap {
        width: 35%;
    }

    .header_dealer-logo img {
        max-width: 140px;
    }
}

@media screen and (max-width: 885px) {
    .complect_block {
        display: block;
        width: 100%;
        text-align: center;
        padding-top: 20px;
        margin: 10px 0;
    }

    .complect_right {
        padding: 0 30px;
    }

    .complect_center__ul {
        list-style-type: none;
        text-align: center;
    }

    .complect_center__ul li {
        list-style-type: none;
        display: inline-block;
    }

    .tab-compl {
        margin: 0 10px;
    }

    .tab-compl__item {
        margin-right: 4px;
        font-size: 14px;
    }

    .complectation-content__option {
        width: 100%;
        margin: 5px;
    }
}

@media screen and (max-width: 850px) {
    .main-benef__item {
        width: 45%;
    }
}

@media screen and (max-width: 800px) {

    .top_form input[type='text'],
    .top_form .submit_wrap {
        width: 100%;
        margin: 0 0 10px;
    }
}

@media screen and (max-width: 800px) {

    .bottom_form input[type='text'],
    .bottom_form .submit_wrap {
        width: 100%;
        margin: 0 0 10px;
    }
}

@media screen and (max-width: 800px) {
    .top_banner_big {
        display: none;
    }

    .top_banner_mini {
        display: block;
    }
}

@media screen and (max-width: 700px) {
    header {
        position: fixed;
    }

    .header {
        display: flex;
        flex-wrap: wrap;
    }

    .header_awards-logo {
        width: 30%;
        order: 2;
    }

    .header_dealer-logo {
        width: 30%;
        order: 1;
    }

    .header_brand-logo {
        width: 30%;
        order: 3;
    }

    .header_addres {
        margin: 5px auto 0;
        order: 4;
    }

    .header_addres .btn {
        position: relative;
        left: auto;
        bottom: auto;
        transform: none;
    }

    .top_banner-wrap {
        margin-top: 0px;
    }

    .container {
        width: 90%;
    }

    .car_item-wrap {
        display: block;
        position: relative;
        width: 90%;
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .car_item-wrap:after {
        content: '';
        position: absolute;
        bottom: -15px;
        display: block;
        width: 100%;
        border-bottom: 15px solid #ececec;
    }

    .car_item-wrap:last-child {
        margin-bottom: 0;
    }

    .car_item-wrap:last-child:after {
        display: none;
    }

    .header_addres .street {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .map {
        display: none;
    }

    #map {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
    }

    .main-benef__item {
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    .bottom_open_form-wrap {
        padding: 40px 0 0;
    }

    .btn {
        font-size: 13px;
    }

    .header_brand-logo {
        max-width: 60px;
    }
}

@media screen and (max-width: 400px) {
    .balloon_container {
        padding: 0;
        width: auto;
        color: #000;
    }

    .maps_dealer_address:before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url("../img/icons/map_black.png") no-repeat;
        background-size: 100%;
        margin-right: 5px;
    }

    .maps_dealer_time:before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url("../img/icons/clock_black.png") no-repeat;
        background-size: 100%;
        margin-right: 5px;
    }

    h2 {
        font-size: 27px;
    }

    .car_item {
        margin: 0 0 40px;
    }

    .advantages_list li sup {
        font-size: 15px;
    }

    .header_addres .street {
        font-size: 17px;
    }

    .header_dealer-logo img,
    .header_brand-logo img {
        max-width: 120px;
    }
}

@keyframes phoneMove {
    0% {
        transform: rotate(-5deg);
    }
}

.complect_block {
    margin: 20px 57px;
}

.complect_left {
    float: none;
}

.complectation-item {
    margin: 20px 0;
}

#seletor {
    width: 100%;
    max-width: 250px;
    padding: 10px;
    border: 1px solid #c3002f;
}

.complect_right {
    padding-top: 0px;
}


@media screen and (max-width: 888px) {
    .complect_block {
        margin: 0;
    }

    .complect_list {
        padding: 0 21px;
    }
}

@media screen and (max-width: 800px) {
    .top_banner_big {
        display: block;
    }
}


@media screen and (max-width: 700px) {

    .header_addres .phone {
        font-size: 20px;
    }

    .promo_title_top-text {
        font-size: 23px;
    }

    .section_title {
        font-size: 30px;
    }

    .header_brand-logo img {
        width: 83%;
    }
}

.complectation-item {
    width: 100%;
    border-collapse: collapse;
}

.complectation {
    color: #c3002f;
    font-weight: bold;
}

.complectation-item tr {
    height: 40px;
}

.complectation-item thead {
    background-color: #dadada;
    font-weight: bold;
}

.complectation-item thead td {
    border-top: 3px solid #c3002f;
}

.cell-first {
    width: 40%;
    color: #c3002f;
    line-height: 24px;
    font-weight: bold;
}

.cell-ather {
    width: 20%;
    text-align: center;
}

.cell-ather button {
    width: 200px;
    background-color: #c3002f;
    padding: 6px 0;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
}

.complectation-item td {
    padding: 10px;
}

.cell-first-text {
    color: #000;
    padding-right: 9px;
    font-weight: normal;
    font-size: 13px;
}

.cell-first-link {
    color: #000;
    text-decoration: underline;
    font-weight: normal;
    font-size: 13px;
    outline: none;
}

.top-banner__benefit {
    width: 58%;
}

.sup-plashka {
    top: -1.5em;
    font-size: 20px;
}

@media screen and (max-width: 840px) {
    .complectation-item thead {
        display: none;
    }

    .complectation-item tr {
        margin-bottom: 10px;
        border-bottom: 2px solid #a0a0a0;
    }

    .complectation-item td {
        display: block;
        text-align: right;
        font-size: 13px;
        border: 0;
        border-bottom: 1px dotted #a0a0a0;
        width: 100%;
    }

    table td:before {
        content: attr(data-lable);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        padding-right: 8px;
    }
}

@media screen and (max-width: 520px) {
    .cell-first-text {
        float: left;
        display: block;

    }
}

.model_button-white a {
    background-color: #dadada;
}

@media screen and (max-width: 799px) {
    .top_form .submit_wrap {
        margin: 0;
    }

    .top_form input[type='text'] {
        margin: 0 0 15px;
    }
}

.main-benef__item {
    margin-bottom: 15px;
}

@media screen and (max-width: 799px) {
    .complectation-item {
        margin-top: 0;
    }
}

@media screen and (max-width: 400px) {
    .promo_title_top-text {
        text-align: left;
    }
}

.form-discl {
    font-size: 12px;
    margin-top: 15px;
    display: block;
}

.under {
    text-decoration: underline;
}

*,
*:hover {
    outline: none;
}
.btn.btn-red.btn-inverse{
    background-color: white;
    border: 2px solid #c3002f;
    color: #c3002f;
    padding-right: 20px;
}

/* FILTER FORM */
.filter_section {
    font-size: 19px;
}

.filter_section .filter {
    background: #333;
    color: white;
    padding: 20px;
}

.filter_section .filter_form__groups {
    display: flex;
}

.filter_section .filter_form__group {
    position: relative;
    text-align: left;
    margin: 20px 5px;
}

.filter_section .filter_form__checkbox {
    text-align: left;
}

.filter_section .filter_form__group select {
    min-width: 200px;
}

.filter_section .car_item,
.filter_section .car_item div {
    padding: 10px;
    /* border: 1px solid #e3e3e3; */
}

.filter_section .car_item .btn {
    height: auto;
    width: auto;
    padding: 0;
    padding-right: 50px;
    padding-left: 20px;
}

.filter_section .car_item .btn.btn-inverse {
    padding-right: 20px;
}

.filter_section .car_item img {
    /* border: 1px solid #ffdede; */
}

.filter_section .car_item {
    display: flex;
    width: 100%;
    min-height: 0;
    margin: 0;
    border-bottom: 3px solid silver;
}

.filter_section .car_item:last-child {
    border-bottom: none;
}

.filter_section .car__left_block {
    width: 30%;
    position: relative;
}

.filter_section .car_item__id {
    position: absolute;    
    top: 20px;
    left: -20px;
}

.filter_section .car__right_block {
    width: 70%;
    position: relative;
}

.filter_section .car_item__name {
    font-size: 25px;
    font-weight: bold;
}

.filter_section .car_item__price {
    display: flex;
    position: absolute;
    /* bottom: 0;
    right: 20px; */
    bottom: 16%;
    right: 17%;
}

.filter_section .car_item__price .btn{
    font-size: 20px;
}

.filter_section .car_item__price_rrc {
    color: #888;
    text-decoration: line-through;
    margin-right: 30px;
}

.filter_section .filter select {
    height: 46px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 12px;
    padding-right: 20px;
    font-size: 14px;
    width: 100%;
}

select::-ms-expand {
    display: none;
}

.filter_section .filter_form__group:before {
    content: '';
    background: url(../img/icons/down_arrow_red.png) 0px 0px no-repeat;
    background-size: 100% 100%;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 35px;
    right: 10px;
}

@media screen and (max-width: 950px) {
    .filter_section .car_item__price .btn{
    font-size: 14px;
    }
}

@media screen and (max-width: 799px) {
    .filter_section .car_item__id {
        display: none;
    }
    .filter_section .car_item__price_rrc {
        margin-right: 0px;
    }
    .filter_section .filter_form__groups, .filter_section .car_item, .filter_section .car_item__price{
        flex-direction: column;
    }
    .filter_section .car__left_block,.filter_section .car__right_block{
        width: 100%;
    }
    .filter_section .car_item__price{
        position: static;
    }
}