@mixin fontface($font_path, $font_name, $font_weight:400, $font_style:normal) {
  @font-face {
    font-family: $font_name;
    src: url('../fonts/#{$fonts}/#{$font_path}.woff') format('woff');
    font-style: $font_style;
    font-weight: $font_weight;
  }
}

@include fontface('NissanLight','NissanLight', 100);
@include fontface('NissanRegular','NissanRegular', 300);
@include fontface('NissanRegular','NissanRegular', 500);
@include fontface('NissanBold','NissanBold', 900);
