.btn {
  position: relative;
  overflow: hidden;
  padding: 15px 30px;
  background-color: $c-red;
  border: 0;
  outline: 0;
  transition: all $base-transition;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-family: $regFont;
  font-size: .833rem;
  color: white;

  * {
    color: currentColor;
    text-align: center;
  }

  &:hover,
  &:focus,
  &:active {
    border: 0;
    outline: 0;
    background-color: $c-gray;
  }

  &--light {

  }

  &-big {
    font-size: 1.2rem;
    padding: 15px 40px;
  }

  &--dark {
    background-color: #000000;

    &:hover {
      background-color: $c-gray;
    }
  }

  &_full {
    width: 100%;
  }

  &_head {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    @include to(1200) {
      bottom: auto;
      top: calc(100% - 10px);
    }

    @include to(768) {
      top: calc(100% - 5px);
    }
  }

  &--small {
    padding: 10px 20px;

    @include to(768) {
      padding: 8px 15px;
    }
  }
}

.dws {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pulse {
  background-color: rgba($c-red, .17);
  border-radius: 50%;
  animation: pulse 0.7s ease-out;
  transform: scale(0);
  position: absolute;
}

@keyframes pulse {
  to {
    transform: scale(2);
    background-color: ($c-red, .25);
    opacity: 0;
  }
}