.disclaimer {
  p {
    margin-bottom: .7rem;
  }

  &.cutted {
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;

    &::before {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20px;
      transition: height .25s ease;
      background: linear-gradient(to top, white 0%, rgba(white, .0000001) 100%);
    }

    &.opened {
      &::before {
        height: 0px;
      }
    }
  }
}