.form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;

  &-group {
    margin-bottom: 25px;
    width: 100%;
    max-width: 290px;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    input {
      padding: 15px 30px;
      color: black;
      font-family: $lightFont;
      border: 1px solid black;
      transition: all $base-transition;
      max-width: 290px;
      width: 100%;
      font-size: 1.2rem;

      &.error {
        border-color: $c-red;
      }
    }

    label.error {
      position: absolute;
      font-family: $boldFont;
      top: calc(100% + 2px);
      left: 0;
      font-size: .7rem;
      color: $c-red;
    }

    [type="submit"] {
      max-width: 290px;
      width: 100%;
    }

    &--light {
      label.error {
        color: white;
      }
    }
  }

  .checkbox-group {
    label {
      margin: 2.5px;
      display: block;
      position: relative;
      padding-left: 22px;
      transform: none;
      text-transform: none;
      color: white;
      font-size: .833rem;
      left: 0;
      line-height: 1.44rem;
      cursor: pointer;
      pointer-events: all;
      transition: all .2s ease-in-out;

      .checkmark {
        position: absolute;
        top: 3px;
        left: 0;
        height: 16px;
        width: 16px;
        background-color: white;
        border: 2px solid white;
        transition: all .2s ease-in-out;
        border-radius: 4px;

        &::after {
          content: "";
          position: absolute;
          display: block;
          opacity: 0;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -150%) rotate(45deg);
          width: 4px;
          height: 8px;
          border: solid $c-red;
          transition: all .2s ease-in-out;
          border-width: 0 2px 2px 0;
        }
      }

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked ~ .checkmark {
          background-color: white;
          border-color: white !important;

          &::after {
            opacity: 1;
            transform: translate(-50%, -50%) rotate(45deg);
          }
        }
      }
    }
  }

  &.form--default {
    align-items: flex-start;

    @include to(992) {
      align-items: center;
    }
  }

  &--line {
    flex-flow: row wrap;
    margin: -10px -15px;

    .form {
      &-group {
        height: 45px;
        margin: 10px 15px;

        input {
          padding: 10px 30px;
          height: 45px;
        }
      }
    }
  }
}