h1,h2,h3,h4,h5,h6 {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-family: $boldFont;
  line-height: 1.44;
  max-width: 100%;

  * {
    font-weight: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  @include to(992) {
    text-align: center;
  }

  &.with-image {
    display: flex;

    @include to(768) {
      justify-content: center;
    }

    > div {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }

    .img-wrap {
      height: 5.52rem;
      width: auto;

      @include to(768) {
        height: 4rem;
      }

      img {
        height: 100%;
        width: auto;
      }
    }
  }

  span {
    color: $c-red;
  }
}

h1 {
  font-size: 3rem;

  @include to(768) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2rem;

  @include to(768) {
    font-size: 1.5rem;
  }
}