.image {
  margin: 0 auto;

  img {
    width: 100%;
    height: auto;
  }

  &__logo {
    max-width: 190px;

    @include to(768) {
      max-width: 120px;
    }
  }

  &__awards {
    max-width: 180px;

    @include to(768) {
      max-width: 90px;
    }
  }

  &__brand {
    max-width: 80px;

    @include to(768) {
      max-width: 40px;
    }
  }

  &__benefit {
    max-width: 50px;

    &--big {
      max-width: 75px;

      @include to(768) {
        max-width: 50px;
      }
    }
  }

  &__car {
    margin-bottom: .3rem;
  }
}