.link {
  color: $c-txt;
  text-decoration: none;
  transition: all $base-transition;
  cursor: pointer;
  //white-space: nowrap;

  * {
    transition: all $base-transition;
    cursor: pointer;
    color: $c-txt;
  }

  &:hover {
    color: $c-gray;

    * {
      color: $c-gray;
    }
  }

  &--border {
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }
  }

  &--light {
    &:hover {
      color: $c-gray;

      * {
        color: $c-gray;
      }
    }
  }

  &--current {
    color: currentColor;
    text-decoration-color: currentColor;
  }

  &--footnote {
    color: #707072;
  }

  &--phone {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: -25px;
      width: 21px;
      height: 21px;
      background: url(../img/svg/phone.svg) center no-repeat;
      background-size: contain;
    }
  }

  &--big {
    font-size: 1.5rem;
    display: block;
    font-family: $regFont;

    @include to(768) {
      font-size: 1rem;
    }
  }
}