.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
  z-index: 110;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: transform .5s ease-in-out;
    z-index: 2;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 2px;
      background-color: black;
      transition: background-color $base-transition;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:hover {
      transform: rotate(90deg);
    }
  }

  &-title {
    font-size: 23px;
    font-family: $boldFont;
    margin-bottom: 2rem;
    text-align: center;
  }

  &-subtitle {
    font-size: .833rem;
    margin-bottom: 0;
    text-align: center;
  }

  &.open {
    opacity: 1;
    visibility: visible;
    background-color: rgba(black, .77);

    .popup-wrapper {
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  p.footnote {
    text-align: center;
  }

  &-container {
    padding: 40px 50px;
    background: white;
    max-width: 600px;
    position: relative;

    @include to(550) {
      padding: 30px 15px;
    }
  }
}