.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;

  &-block {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: 75%;
  }

  &--form {
    position: relative;
    padding: 80px 0;

    .footnote {
      color: white;

      .link:hover {
        color: #fff;
      }
    }

    @include to(768) {
      padding: 40px 0;
    }

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      z-index: -2;
      height: 100%;
      background: url(../img/form-bg.jpg) center no-repeat;
      background-size: cover;
    }

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.1);
    }
  }

  &-content {
    padding: 30px 0;

    @include to(1200) {
      height: auto;
    }

    @include to(768) {
      padding: 40px 0;
    }

    @include to(700, true) {
      height: auto;
    }

    @include to(600) {
      padding: 25px 0;
    }
  }

  &-main {
    padding-top: 117px;

    @include to(1280) {
    }

    @include to(992) {
      padding-top: 97px;
    }

    @include to(768) {
      padding-top: 120px;
      min-height: 1px;
      height: auto;
    }

    @include to(450) {
      padding-top: 115px;
    }

    .section-block {
      align-items: flex-start;
      justify-content: center;

      .container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        height: 100%;
        padding: 80px 0;

      .flex_cat {
          flex-direction: column;
          align-items: center;
        }

        @include to(768) {
          min-height: 300px;
          padding: 30px 15px;
          align-items: center;
          text-align: center;
          position: static;
        }

        > div {
          width: 100%;

          h1, h2 {
            color: white;
            width: 100%;

            @include to(768) {
              color: black;
            }
          }
        }

        h3 {
          color: white;

          @include to(768) {
            color: black;
          }
        }

        p {
          font-size: 1.44rem;
        }
      }
    }

    @media screen and (min-width: 2000px) {
      height: auto;

      .section-block {
        flex-grow: 1;
        justify-content: center;
      }
    }

    .top-slider {
      width: 100%;

      .slide_item {
        width: 100%;
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        &:nth-child(n+2) {
          display: none;
        }

        .text {
          position: absolute;
          top: 20%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 100%;
          padding: 20px 25px;
          text-align: center;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          width: 100%;
         // background-color: rgba(black, .3);

          @include to(1460) {
            padding: 10px 25px;
          }

          @include to(992) {
            background-color: transparent;
            position: static;
            transform: none;
            top: auto;
            right: auto;
            width: 100%;
            flex-grow: 1;
            text-align: center;
          }

          .column {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            align-items: center;
            justify-content: center;

            @include to(992) {
              margin: 0 auto;
              align-items: center;
            }

            div:last-child {
              justify-content: center;
              align-items: center;
              margin-top: 5px;
              margin-bottom: 5px;
              display: flex;
              flex-direction: column;
              padding: 20px 35px;
              background-color: rgba(0,0,0,0.5);
              @include to(992) {
                align-items: center;
                padding:0;
                background:transparent;
              }
            }

            .title {
              font-size: 2rem;
              color:white;
              font-weight: bold;
              margin-bottom: 1.5rem;
              text-transform: uppercase;
              text-align: center;

              @include to(992) {
                color: black;
              }

              @include to(768) {
                font-size: 1.5rem;
                margin-bottom: 1rem;
              }

              span {
                color: white;
                font-size: 2.8rem;

                @include to(768) {
                  font-size: 1.6rem;
                  color: black;
                }
              }
            }

            .title-comment {
              text-transform: uppercase;
              color: black;
              font-size: 1rem;
              margin-bottom: 1rem;

              &:last-child {
                margin-bottom: 0;
              }

              @include to(992) {
                color: black;
              }
            }
          }
        }

        .img-wrap {
          width: 100%;
          height: 0;
          padding-top: 33%;
          //padding-top: 31.25%;
          position: relative;

          .img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
      }

      &.slick-initialized .slide_item {
        display: flex !important;
        height: auto !important;
      }

    }
  }

  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include to(768) {
      position: static;
      background-position: right center;
    }

    .container {
      position: relative;

      @include to(768) {
        position: static;
      }
    }

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      z-index: 25;
      pointer-events: none;
      left: 0;
      background-color: rgba(black, .15);
    }
  }

  &.ntp {
    padding-top: 0;
  }

  &_dark {
    color: white;
    background: #1d1d1d;
  }
  
}

.section.section-content.section_dark {
  position: relative;
}
.btn-mail {
  position: absolute;
  top: -28px;
  background: #c3002f;
  color: #fff;
  text-align: center;
}
.btn-mail a {
   color: #fff;
   padding: 8px 15px;
   text-align: center;
   display: block;
   text-decoration: none;
   font-size: 14px;
 }
@media (max-width: 992px) {
  .btn-mail {
    position: relative;
    top: -18px;
  }
}

