.stock-item {
  width: calc(25% - 20px);
  transition:  .25s ease;
  border: 1px solid rgba(gray, .25);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;

  @include to(1280) {
    width: calc(33.3334% - 20px);
  }

  @include to(992) {
    width: calc(50% - 20px);
  }

  @include to(768) {
    width: 100%;
    margin: 0 0 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:hover {
    border-color: transparent;
    transform: translateY(-5px);
  }

  &__name {
    font-family: $boldFont;
    margin-bottom: 0;
    font-size: 1.2rem;
  }

  &__info {
    margin-bottom: 1rem;
  }

  .availability {
    position: relative;
    padding-left: 10px;

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: green;
    }
  }
}