.text-popup {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(black,.77);
  transform: translate(-50%, -50%);
  z-index: 40;

  &.show {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  &-wrap {
    padding: 30px 40px 30px 30px;
    max-width: 520px;
    position: relative;
    background: white;

    @include to(400) {
      padding: 25px 25px 25px 15px;
      max-width: 100%;
      height: 100%;
      max-height: 100vh;
      overflow: auto;

      @include scrollbar;
    }

    p {
      margin-bottom: 1.6rem;
      line-height: 1.2;
    }

    div:last-child {
      text-align: center;
    }
  }

  &#agreement {
    z-index: 111;

    .text-popup-wrap {
      max-height: 90%;
      overflow: auto;

      @include scrollbar;
      max-width: 700px;
    }
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: transform .5s ease-in-out;
    z-index: 2;

    @include to(500) {
      top: 5px;
      right: 5px;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 2px;
      background-color: black;
      transition: background-color $base-transition;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:hover {
      transform: rotate(90deg);
    }
  }
}