.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  p {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
  }

  .car-list-block {
    .btn {
      margin: 3rem auto;
      width: 100%;
      max-width: 315px;
    }
  }

  span, p, b {
    color: white;
  }
}